@import "./Variables.scss";

.master-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: linear-gradient(180deg, #2176ff 33.25%, #ffffff 33.25%);

  .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;

    h1 {
      width: 20%;
      height: fit-content;
      margin: 0px;
      color: #ffffff;
      font-size: 50px;
      letter-spacing: 1px;
      cursor: pointer;
      font-weight: 400;
    }
    .d-t {
      width: 30%;
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: fit-content;

      p{
          font-size: 18px;
          color: $white;
          margin-bottom: 5px;

          &:nth-child(1){
              font-size: 40px;
              font-weight: 500;
          }
          &:nth-child(2){
              font-weight: 200;
          }
          &:nth-child(3){
              font-size: 24px;
              letter-spacing: 1px;
          }
          &:nth-child(4){
              font-size: 28px;
              letter-spacing: 1px;
              margin-top: 10px;
          }

      }
      
    }
  }
}
