.youtube {
  width: 90%;
  height: 100vh;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.youtube-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.youtube-container .box {
  width: 350px;
  height: 620px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(87, 90, 137, 0.5);
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.youtube-container .box .main-video {
  width: 100%;
  height: 190px;
  background-color: #31393c;
  border-radius: 5px;
  cursor: pointer;
}

.youtube-container .box .list {
  width: 100%;
  height: 370px;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.youtube-container .box .list .video {
  width: 100%;
  height: auto;
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.youtube-container .box .list .video-box {
  width: 60%;
  height: 90px;
  background-color: #31393c;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.youtube-container .box .list .video p {
  font-size: 18px;
}

.youtube-container .box .search {
  width: 100%;
  padding: 10px 0px;
  background-color: #2176ff;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.youtube-container .box .search input {
  width: 90%;
  background-color: #2176ff;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  text-indent: 20px;
  cursor: pointer;
}

.youtube-container .box .search input::-webkit-input-placeholder {
  color: #ffffff;
}

.youtube-container .box .search input:-ms-input-placeholder {
  color: #ffffff;
}

.youtube-container .box .search input::-ms-input-placeholder {
  color: #ffffff;
}

.youtube-container .box .search input::placeholder {
  color: #ffffff;
}

.youtube .tools {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.youtube .tools .head {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.youtube .tools .head h1 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  text-align: start;
}

.youtube .tools-box {
  height: 50%;
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.youtube .tools-box .icons {
  width: 7%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.youtube .tools-box .icons i {
  font-size: 30px;
  color: #31393c;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.youtube .tools-box .icons i:first-child:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.youtube .tools-box .icons i:nth-child(2):hover {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: sweep;
          animation-name: sweep;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes sweep {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes sweep {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.youtube .tools-box .icons i:last-child:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.youtube .tools .gap {
  width: 40%;
  height: auto;
}

.youtube .tools .image {
  float: right;
}

.youtube .tools .image img {
  width: 300px;
  height: auto;
  float: right;
}
